@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&family=Joan&family=Roboto:ital@1&display=swap');

@media screen and (max-width: 512px) {
    .home-contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .home-button{
        margin: 10px;
    }
    .home-input::placeholder{
        text-align: center;
    }
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p:hover {
    cursor: default;
}

input:focus {
    outline: none;
}

.font-1 {
    font-family: Joan;
}

.font-2 {
    font-family: Roboto;
}

.font-3 {
    font-family: Gentium Plus;
}

/*  Navbar */

.navbar {
    padding: 0;
    margin: 0;
    background-color: #2F8F9D;
}

.navbar-image {
    width: 9rem;
    height: 7rem;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}


.navbar-brand {
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 1.3rem;
    color: white;
}

.nav-link:hover {
    color: #B3E8E5;
}


.navbar-nav {
    display: flex;
    justify-content: flex-end !important;
}

.ddown-menu{
    background-color: #B3E8E5;

}

.ddown-menu a{
    color: black;
}

.ddown-menu a:hover{
    color: #2F8F9D;
}


/* Home */

#home{
    min-height: 100vh;
}

.home-container {
    padding: 10% 7%;
    background-color: #2F8F9D;
    color: white;
}


.home-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
}

.home-text {
    text-align: center;
    margin-top: 16px;
    font-size: 1.7rem;
    font-weight: 500;
}

.home-contact {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: 1.3rem;
}

.home-button {
    margin-left: 12px;
    background-color: #82DBD8;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    white-space: normal !important;
    word-wrap: break-word;
    
}

.home-button:hover {
    cursor: pointer;
    color: white;
    border-color: white;
    background-color: #2F8F9D;
}

.home-input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    width: 15rem;
    height: 2.3rem;
}

.home-input::placeholder {
    padding-left: 3px;
}

/* About Section */

.about-container {
    padding: 5% 7%;
}

.about-card{
    background-color: #B3E8E5;
    width: 90%;
    display: block;
    margin: auto;
}

.about-heading {
    color: #2F8F9D;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.about-text {
    color: #3BACB6;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}


/* Services Section */

.services-heading{
    text-align: center;
    color: #2F8F9D;
    font-size: 3.2rem;
    font-weight: bold;
}


.services-card{
    display: block;
    margin:  0 auto;
    width: 70%;
    background-color: #3BACB6;
    color: white ;
    text-align: center;
}

.pad-card{
    padding: 5% 0;
}

.services-image{
    display: block;
    margin: 13px auto;
    width: 50%;
    height: 50%;
}

.service-title{
    font-size: 2em;
}

.service-description{
    font-size: 1.3em;
}

.service-description-body{
    text-align: center;
}

/* Contact */

.contact-image{
    width: 55%;
    height: 65%;
}

.contact-image:hover{
    transform: rotateY(35deg) scale(1.1);
}

.contact-image:hover::before{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
    

.contact-box{
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.pad-contact{
    padding: 5%;
}

.contact-heading{
    color: #2F8F9D;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
}

.contact-image{
    display: block;
    margin: auto;
}

/* Up Arrow */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2F8F9D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 10px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #82DBD8; /* Add a dark-grey background on hover */
  }