@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@1&family=Joan&family=Roboto:ital@1&display=swap');

@media screen and (max-width: 512px) {
    .home-contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .home-button{
        margin: 10px;
    }
    .home-input::placeholder{
        text-align: center;
    }
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p:hover {
    cursor: default;
}

input:focus {
    outline: none;
}

.font-1 {
    font-family: Joan;
}

.font-2 {
    font-family: Roboto;
}

.font-3 {
    font-family: Gentium Plus;
}


/*  Navbar */

.navbar {
    padding: 0;
    margin: 0;
    background-color: #2F8F9D;
}

.navbar-image {
    width: 9rem;
    height: 7rem;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}


.navbar-brand {
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 1.3rem;
    color: white;
}

.nav-link:hover {
    color: #B3E8E5;
}


.navbar-nav {
    display: flex;
    justify-content: flex-end !important;
}

/* Home */

.home-container {
    padding: 10% 7%;
    background-color: #2F8F9D;
    color: white;
}


.home-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
}

.home-text {
    text-align: center;
    margin-top: 16px;
    font-size: 1.7rem;
    font-weight: 500;
}

.home-contact {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: 1.3rem;
}

.home-button {
    margin-left: 12px;
    background-color: #82DBD8;
    color: black;
    border: 1px solid black;
    border-radius: 7px;
    white-space: normal !important;
    word-wrap: break-word;
    
}

.home-button:hover {
    cursor: pointer;
    color: white;
    border-color: white;
    background-color: #2F8F9D;
}

.home-input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    width: 15rem;
    height: 2.3rem;
}

.home-input::placeholder {
    padding-left: 3px;
}

/* About Section */


.about-container {
    position: relative;
    color: #2F8F9D;
    padding: 5% 7%;
}

.about-text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}

.about-heading {
    /* color: #2F8F9D; */
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 32px;
}